@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body {
    font-family: 'Libre Baskerville', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.heading {
    font-size: 8em;
    text-transform: uppercase;
    margin: 0;
    background: linear-gradient(to right, rgb(123, 209, 228), rgb(240, 136, 207));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

